h1 {
    text-align: center;
    margin: 50px 0 40px 0;
}

.main {
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.library {
    display: grid;
    grid-auto-flow: column;
    font-size: 18px;
    justify-content: space-between;
}

.row {
    margin-top: 20px;
}

.row:first-child {
    margin-top: 30px;
}

.row:nth-child(n-2) {
    font-size: 16px;
}
